
/*header{ 
	background-color: #485075;

}
body{
	background-color: #485075;
}
img {
	display: block;
	height: 100%;
	width: 100%;
	margin: auto;
}
*/

p {
	font-family: helvetica;
	font-size: 24px;
	padding:10px;
	padding-left: 50px;
	text-align: justify;
}

div {
	text-align: center;
	background-color: #485075;
	vertical-align: middle;
}

span {
	border-spacing: 5px;
	background: #2850B1;
}

a {
	text-decoration: none;
	font-color: #3S59AB;
	font-family: helvetica;
}

h2 {
	text-align: center;
	padding-bottom: 2px;
	position: relative;
}

h1 {
	text-align: center;
	position: relative;
	text-align: left;
	padding-left: 50px;
}
/*
button {
	margin-top: 50px;
	border-radius: 7%;
	border: 3px solid #2850B1;
	box-shadow: 15%;
	position: relative;
	height: 60px;
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	background-color: #F2C10E;
	margin-bottom: 50px;
}
*/
form {
	margin:0;
	padding: 2px;
}

input {
	clear:both;
	font-size: 14px;
	font-family: helvetica;
}

#background1 {	
	height: 50px;
	width: 300px;
	margin-left: -5px;
	padding-bottom: 10px;
	font-family: helvetica;
	color: #E7E4D3;
	text-align: center;
	position: relative;
	display: inline-block;

}
/*
#socialmedia {
	display: inline-block;
	height: 50px;
	width: 75px;
	margin-left: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: helvetica;
	text-align: center;
	display: inline-block;
	
}

.facebook {
	border: 1px, solid, black;
	height: 50px;
	width: 50px;
	text-align: center;
}

#title{
	padding-top: 20px;
	color: black;
	text-align: center;
	display: block;
	clear: both;
	float: center;
	height: 500px;
}

.headPhoto{
	background: url(http://i.imgur.com/z9x6yBh.jpg);
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#about{
	height: 300px;
	padding: 40px;
	color: #2850B1;
	margin-left: 2%;
	width: 90%;
	position: middle;
	text-align: justify;
	background-color: #E7E4D3;
	border-radius: 3%;

}
*/
#wrapper {
	margin: 0 auto;
	padding: 5px;
	padding-bottom: 25;
	margin-right: 200px;
	float: right;
	width: 504px;
	background: white;
	border: 2px solid black;
	border-radius: 5%;
}

/*#contacts{
	margin-left: 50px;
	display: inline-block;
	height: 500px;
	border: 5px, solid, black;

	float:left;
}*/
#menu {
	margin-top: 0px;
	padding: 5px;
	background-color: white;
	height: 0px;
}

.welcome {
	float: left;
	margin-top: 2px;
	font-size: 16px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	margin-left: -40px;
}

#chatbox {
	text-align: left;
	border: 10px, solid, black;
	border-radius: 5%;
	background-color: orange;
	padding-left: 50px;
	padding-top: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 25px;
	height: 270px;
	width: 430px;
	overflow: auto; /* this makes it scroll through when there is too many messages */

}
/*the usermsg is where the user will type their message and submit it*/
#usermsg{
	width: 390px;
	border: 1px solid #ACD8F0; 
}

#submit {
	width: 60px;
}

.message {
	float: right;
	height: 50px;
	border: 2px solid black;
	clear: both;
	width: 300px;
}


/*
.uitpeeps{
	border: 2px, solid, green;
	text-align: center;
	height: 400px;
	width: 400px;
	border-radius: 100%;
	background-color: green;
	margin-bottom: 20px;
	float: left;
	margin-left: 100px;
}
/*
.voltans{
	border: 2px, solid, blue;
}
.friends{
	border: 2px, solid, black;
}
*/
/*img {
	height: 400px;
	width: 404px;
	border-radius: 100%;
	margin-left: 1px;
}*/


