
header{ 
	background-color: #485075;

}
body{
	background-color: #485075;
}

div {
	text-align: center;
	background-color: #485075;
	vertical-align: middle;
}


a {
	text-decoration: none;
	font-color: #3S59AB;
	font-family: helvetica;
}

h2 {
	text-align: center;
	padding-bottom: 2px;
	position: relative;
}

h1 {
	text-align: center;
	position: relative;
	text-align: left;
	padding-left: 50px;
}

button {
	margin-top: 50px;
	border-radius: 7%;
	border: 3px solid #2850B1;
	box-shadow: 15%;
	position: relative;
	height: 60px;
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	background-color: #F2C10E;
	margin-bottom: 50px;
}

form {
	margin:0;
	padding: 2px;
}

input {
	clear:both;
	font-size: 14px;
	font-family: helvetica;
}

#background1 {	
	height: 50px;
	width: 300px;
	margin-left: -5px;
	padding-bottom: 10px;
	font-family: helvetica;
	color: #E7E4D3;
	text-align: center;
	position: relative;
	display: inline-block;

}

#wrapper {
	margin: 0 auto;
	padding: 5px;
	padding-bottom: 25;
	margin-right: 200px;
	float: right;
	width: 504px;
	background: white;
	border: 2px solid black;
	border-radius: 5%;
}

#menu {
	margin-top: 0px;
	padding: 10px;
	margin: 10px;
	background-color: black;
	height: 30px;
	border-radius: 15px;
}

.welcome {
	float: left;
	margin-top: 2px;
	font-size: 16px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	margin-left: -40px;
}

#chatbox {
	text-align: left;
	border: 10px, solid, black;
	border-radius: 5%;
	background-color: white;
	padding-left: 50px;
	padding-top: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 25px;
	height: 270px;
	width: 430px;
	overflow: auto; /* this makes it scroll through when there is too many messages */

}
/*the usermsg is where the user will type their message and submit it*/
#usermsg{
	width: 390px;
	border: 1px solid #ACD8F0; 
}

#submit {
	width: 60px;
}

.message {
	float: right;
	height: 50px;
	border: 2px solid black;
	clear: both;
	width: 300px;
}
